<h1>Listing actors</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Age</th>
    <th>Location</th>
  </tr>

<% @actors.each do |actor| %>
  <tr>
    <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
    <td><%= actor.name %></td>
    <td><%= actor.age %></td>
    <td><%= actor.location.name %></td>
    <td><% #link_to 'Destroy', actor, confirm: 'Are you sure?', method: :delete 
	%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Actor', new_actor_path %>
