<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b>Birthday:</b>
  <%= @actor.display_birthday %>
</p>

<p>
  <b>Location:</b>
  <%= @actor.location.name %>
</p>


<%= link_to 'Edit', edit_actor_path(@actor) %> |
<%= link_to 'Back', actors_path %>
