<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_en %><br />
    <%= f.text_field :title_en %>
  </div>
  <div class="field">
    <%= f.label :title_zh %><br />
    <%= f.text_field :title_zh %>
  </div>
  <div class="field">
    <%= f.label :actor_id %><br />
		<%= f.select :actor_id, actors_available %>
  </div>
  <div class="field">
		<ol>
			<% @video.covers.each do |c| %>
				<li><span><%= image_tag c.uri, :class => "video_cover", :width => c.width, :height => c.height %></span>
					<span><%= link_to "Delete", :action => "destroy_cover", :id => c.id %></span></li>
			<% end %>
		</ol>
  </div>
  <div class="field">
    <%= f.label :width %><br />
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height %>
  </div>	
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
<% unless @video.new_record? %>
  <div class="field">
    <%= f.label :hits %><br />
    <%= f.number_field :hits %>
  </div>
	<div class="field">
	  <%= f.label :current_review %><br />
	  <%= f.number_field :current_review %>
	</div>
<% end %>
	<div class="field">
	  <%= f.label :binary_guid %><br />
	  <%= f.text_field :binary_guid %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
