<h1>Listing videos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Duration</th>
    <th>Reviews</th>
    <th>Published</th>
    <th>Hits</th>
    <th>Actor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.title %></td>
    <td><%= video.duration %>mins</td>
    <td><%= video.reviews %></td>
    <td><%= video.published ? 'Yes' : 'No' %></td>
    <td><%= video.hits %></td>
    <td><%= video.actor.name %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= link_to 'Destroy', video, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
