<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b>Covers:</b>
	<ol>
		<% @video.covers.each do |c| %>
			<li><%= image_tag c.uri, :class => "video_cover", :width => c.width, :height => c.height %></li>
		<% end %>
	</ol>
</p>

<p>
  <b>Categories:</b>
	<ol>
		<% @video.categories.each do |c| %>
			<li>c.title</li>
		<% end %>
	</ol>
</p>

<p>
  <b>Tags:</b>
	<ol>
		<% @video.tags.each do |t| %>
			<li>t.name</li>
		<% end %>
	</ol>
</p>

<p>
  <b>binary_guid:</b>
  <%= @video.binary_guid %>
</p>

<p>
  <b>Duration:</b>
  <%= @video.duration %>
</p>

<p>
  <b>Resolution:</b>
  <%= @video.resolution %>
</p>

<p>
  <b>Hits:</b>
  <%= @video.hits %>
</p>

<p>
  <b>Reviews:</b>
  <%= @video.current_review %>
</p>

<p>
  <b>Actor:</b>
  <%= @video.actor.name %>
</p>
