<div id="top">
	<div class="wrapper">
		<span id="logo">
			<%= image_tag "logo.png" %>
		</span>
		<span id="banner">
		</span>
	</div>
</div>
<div class="wrapper">
	<div id="video">
		<div id="video_player"><%= image_tag "video.png" %></div>
		<div id="video_controller"></div>
	</div>
	<div id="related">
		<div id="navgator">
			<ol>
				<li>SM 调教</li>
				<li>巨乳 口交</li>
				<li>乱伦 户外</li>
				<li>自慰 按摩</li>
				<li>同性 肛交</li>
			</ol>
		</div>
		<div id="related_list">
			<ul>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标标题标题标11题标题标标题</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
				<li>
					<%= image_tag "logo.png" %>
					<div class="text_desc"><strong>标题标题标11题标题标</strong></div>
					<p><span class="fl"><span class="hi">23333</span> 次点击</span> <span class="fr">23:44</span></p>
				</li>
			</ul>
		</div>
		<div id="payment">
		
		</div>
	</div>
</div>