<h1>Videos in <%= @category.title %></h1>

<div>
  <ol>
<% @videos.each do |video| %>
    <li><div>
	  <img src="video.cover.uri" width="video.cover.width" height="video.cover.height" />
		<% title = video.title 
			 title << "(#{video.actor.name})" if video.actor %>
  	<span><%= link_to title, show_video_path(video) %></span>
    <span><%= video.hits %>Hit @ <%= video.width %>*<%= video.height %></span>
	  </div></li>
<% end %>
  </ol>
</div>